#menu{
    display: flex;
    justify-content: space-evenly;
}

h1:hover{
    color: rgb(0, 153, 255);
}

h1{
    text-align: center;
}

a{
    font-size: 25px;
    color: black;
}

.tabela{
    border: 2px solid black;
}