body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0
}

canvas {
    background-color: white;
    border: 1px solid black
}