<!DOCTYPE html>
<html>
    <head>
        <title>Get - Post - Template</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="Lab8style.css">
    </head>
    <body>

        <h1>Get/Post e templates</h1>

        <h2>Faça o login.</h2>
        <form action="/logar" method="POST">
            <p>Nome:<input type="text" name="nome"></p>
            <p>Senha:<input type="password" name="senha"></p><br><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>