<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resposta</title>
        <link rel="sylesheet" href="Lab8style.css">
    </head>
    <body>
        <h1><%= mensagem %></h1>
        <a href="/">Projetos</a>
    </body>
</html>